*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  width: 100%;
  max-width: 1920px;
  height: 81.59px;
  background-color: #FFFFFF;
}
.header-container {
  width: 1376.98px;
  height: 81.59px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  margin-right: 32px;
  font-weight: bold;
}
.auth a:nth-child(1) {
  text-decoration: none;
  font-weight: bold;
  margin-right: 16px;
  color: #6366F1;
  border: 2px solid #6366F1;
  border-radius: 8px;
  padding: 16px 22px;
}
.auth a:nth-child(2) {
  text-decoration: none;
  font-weight: bold;
  margin-right: 16px;
  color: #FFFFFF;
  border: 2px solid #6366F1;
  background-color: #6366F1;
  border-radius: 8px;
  padding: 16px 22px;
}
.breadcrumb {
  max-width: 100%;
  width: 1920px;
  height: 58.59px;
  
}
.bao-breadcrumb {
  width: 1376.98px;
  line-height: 58.59px;
  margin: auto;
  border-top: 2px solid #f7f4f4;
}
.bao-breadcrumb span:nth-of-type(-n+2) {
    color: #6B7280;
    font-size: 16px;
}
.course-page {
  background-color: #1F2937;
  width: 100%;
  max-width: 1920px;
  height: 1189.94px;
}
.bao-course {
  width: 1376.98px;
  margin: auto;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.course-info {
  width: 692.45px;
  padding-top: 48px;
}
.tag {
  background-color: #374151;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
}
h1{
  font-size: 36px;
  margin: 24px 0;
}
.course-info > p{
  font-size: 18px;
  margin-bottom: 36.79px;
}
.course-meta {
  display: flex;
  gap: 58.8px;
  font-size: 15px;
  margin-bottom: 32px;
  height: 61.8px;
  border-bottom: 1px solid #374151;
}
.teacher {
  display: flex;
  gap: 16px;
  align-items: center;
}
.teacher div p {
  padding-bottom: 4px;
  opacity: 0.7;
}
.course-price {
  width: 400px;
  height: 1093.9px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  margin: 48px 0px;
}
.course-price > img {
  width: 100%;
}
.price {
  padding: 39px 32px 29px 32px;
  color: #1F2937;
  display: flex;
}
.old-price p:nth-child(1) {
  font-size: 31.5px;
  font-weight: bold;
  padding-bottom: 16.9px;
  margin-right: 70px;
}
.old-price p:nth-child(2) {
  font-size: 16px;
  color: #6B7280;
}
.price > span {
  background-color: #DCFCE7;
  color: #166534;
  font-size: 14px;
  font-weight:  bold;
  padding: 9px 12px;
  border-radius: 8px;
  height: fit-content;
  align-self: center;
}
.sale-alert {
  background-color: #FEF3C7;
  color: white;
  font-size: 14px;
  margin: 16px 32px;
  padding: 22px;
  border-radius: 6px;
}
#g {
  background-color: #6366F1;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: calc(100% - 64px);
  margin: 0px 32px;
  padding: 20px 0px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#T {
  background-color:white;
  color: #6366F1;
  font-size: 18px;
  font-weight: bold;
  width: calc(100% - 64px);
  margin: 16px 32px;
  padding: 20px 0px;
  border: 2px solid #6366F1;
  border-radius: 8px;
  cursor: pointer;
}
.course-include {
  margin: 48px 32px 24px 32px;
  width: calc(100% - 64px);
  border-top: 1px solid #E5E7EB;
}
.course-include h3 {
  color: #1F2937;
  font-size: 20px;
  font-weight: bold;
  margin: 24px 0;
}
.course-include p {
  color: #6B7280;
  font-size: 16px;
  margin-bottom: 16px;
}
.guarantee {
  background-color: #F3F4F6;
  width: 336px;
  margin: auto;
  height: 54.39px;
  margin-top: 48px;
  color: black;
  line-height: 54.39px;
  border-radius: 6px;
  text-align: center;
}