*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEF2F3;
}
header {
    width: 1000px;
    margin: 0 auto;
    background-color: #2e8b57;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header {
    text-align: center;
    padding: 25px;

}
header a {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: bold;
}
nav{
    margin-top: 123p;
    padding-top: 15px;
}
header a:hover {
    text-decoration: underline;
}


section img {
    width: 100%;
    height: 290px;
}
section {
    margin-top: 123px;
}
.tren_anh {
    top: 100px;
    left: 145px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 80%;
    text-align: center;
    position: absolute;
    height: 140px;
}
.chu{
    padding-top: 30px;
    line-height: 2.3;
}
section {
    position: relative;
}


.gioi_thieu{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    height: 150px;
    border: 1px solid #e1dada;
}
.gioi_thieu h3 {
    color: #2E8B57;
    padding: 30px;
    font-size: 25px;
}
.gioi_thieu p{
    padding: 0 30px 30px 30px;
}

.tour{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    border: 1px solid #e1dada;
    text-align: center;
}
.tour h3 {
    color: #2E8B57;
    font-size: 25px;
    text-align: left;
    padding: 30px;
}
.anh1{
    position: relative;
}
.p{
    position: absolute;
    background-color: orange;
    color: white;
    padding: 3px;
    top: 5px;
    left: 5px;
}
.anh img{
    width: 100%;
    height: 150px;
}

.anh {
    vertical-align: top;
    height: 200px;
    width: 250px;
    display: inline-block;
    margin: 15px;
    border: 1px solid #e1dada;
    background-color: #FAFAFA;
    position: relative;
    transition: 0.3s ease;
}
.anh40{
    width: 250px;
    height: 150px;
}
.anh4 {
    display: inline-block;
    margin: 15px;
    border: 1px solid #e1dada;
    background-color: #FAFAFA;
    margin-left: 10px;
    position: relative;
    transition: 0.3s ease;
}
.anh4:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgb(161, 160, 160);
}
.anh:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgb(161, 160, 160);
}
.gia{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    border: 1px solid #e1dada;
}
.gia h3 {
    color: #2E8B57;
    font-size: 25px;
    text-align: left;
    padding: 30px;
}
  table {
    width: 95%;
    border-collapse: collapse;
    margin:20px auto;
}
th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #DFF0EA;
}
td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.dat{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    border: 1px solid #e1dada;
    text-align: center;
}
.dat input{
    width: 95%;
    display: block;
    margin: 10px auto;
    padding: 8px;
}
.dat button{
    width: 95%;
    display: block;
    font-size: 22px;
    margin: 10px auto;
    padding: 5px;
    border: none;
    background-color: #34885b;
    color: white;
    transition: 0.3s ease;
}
.dat button:hover{
    transform: translateY(-5px);
    background-color: #246B45;
}
.dat h3{
    color: #2E8B57;
    font-size: 25px;
    text-align: left;
    padding: 30px;
}
footer{
    background-color: #2E8B57;
    text-align: center;
    padding: 20px;
    color: white;
}


