*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(246, 242, 237);
}
header {
    text-align: center;
}
header strong {
    font-size: 25px;
    color: rgb(56, 173, 228);
}
#trá»“ng {
    text-decoration: underline line-through;
}
#dieutri{
    font-size: 16px;
}
