*{
    font-family: Arial, Helvetica, sans-serif;.
}
body {
    background-color: #f4f4f9;
}
header strong {
    display: block;
    text-align: center;
    font-size: 25px;
    color: rgb(20, 75, 224);
}
header {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}
main Strong {
    display: block;
    text-align: center;
    color: rgb(20, 75, 224);
    font-size: 20px;
}