*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.8;
}
h2{
    color: #1e90ff;
}
footer input{
    background-color:  #00bfff;
}
main input , textarea{
    border-color: #1e90ff;
}
#Gửi:hover{
    background-color: green;
    font-size: 30px;
}
#Gửi:active{
    background-color: aquamarine;
    font-size: 100px;
}