*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header{
    background-color: antiquewhite;
}
header h2 , em{
    color: blue;
}
h3{
    color: blue;
}
#red {
    color: red;
}
#red:hover{
    background-color: blueviolet;
}