*{
    font-size: 20px;
}
h3{
    color: aquamarine;
}

button {
    color: rgb(10 , 255 , 255);
}

/*  rgba : tương tự rgb nhưng có độ trong suốt
    HSL / HSLA : Tông màu , độ bão hòa , độ sáng , trong suốt */

    /* căn chỉnh text của 1 đoạn văn  */
    h1{
        /* bold : chũ đậm , lighter : nhạt hơn , giá trị số */
        font-weight: lighter;
        text-align:  justify;
       /* các kiểu đường gạch solid : gạch chân liền , dotted : gạch chân đứt, dashed : gạch chân ..... */
        text-decoration: none underline:gạch chân line-through: gạch ngang  overline : gạch trên;
        /*điều chỉnh độ rộng dòng . giá trị có thể là số , px , % */
        line-height: 5;
        /* căn khoảng cách giữa các kí tự , dương tăng , âm giảm */
        letter-spacing: 10px;
    }
    h3{
        font-size: 20px;
        font-family: fantasy ;
    }
    #btn{
        background-color: black;
    }

    .A {
        background-color: black;
        text-decoration: none;
    }
    li > B {
        color: brown;
    }
    h1 + p{
        color: brown;
    }

    li b {
        text-decoration: overline red;
    }
    input[type="text"]{
        background-color: brown;
    }
    
    a:link{
        color: aqua;
    }

    a:visited{
        color: black;
    }

    a:hover{
        color: brown;
    }

    a:active{
        color: blueviolet;
    }

    .lốp::first-line{
        color: blue;
    }

    .lốp::first-letter{
        color: rgb(255, 0, 55);
    }




    /* 1 số bộ chọn */
    /* Universal selector */
    * { 
        margin: 0;
        padding: 0;
    }      
    /* id selextor */
    #h2-id{
        color: aqua;
    }

    /* class selector dùng nhiều nhất */
    .h2-class{
        color: brown;
        background-color: black;
    }

    /* Chọn theo thuộc tính */
    [href]{
        background-color: coral;
    }


    /* elemet selector (áp dụng tất cả các phần tử đã đc chọn) */
    p {
        background-color: aquamarine;
    }
    table , td{
        border: 5px solid red;
        width: 100%;
        height: 5%;
    }


    /* pseudo-class selector (trạng thái đi kèm với thẻ) */
    .h2-class:hover{
        background-color: aliceblue;
        font-size: 50px;
    }

    .h2-class:active{
        background-color: antiquewhite;
        font-size: 100px;
    }
    tr:nth-child(even){
        background-color: blue;
    }
    /* selector combinator  (kết hợp các selecter)*/
    div div ,p{
        background-color: blue;
        color: azure;
    }
    #demo>p{
        background-color: antiquewhite;
        color: aquamarine;
    }   

    /* Bộ thuộc tính font */
    p{
        font-size: ;
        font-family: ;
        font-weight: ;
    }

    /* Bộ thuộc tính text  */
    p{
        text-align: ;
        text-decoration: ;
        letter-spacing: ;
        line-height: ;
        word-spacing: ;
    }
    
    h1{
        
    }