*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(248, 241, 232);
    font-family: 'Lexend', sans-serif;
    text-align: center;
}
.header {
    color: #78350F;
    padding: 40px;
    line-height: 1.8;
    background-color: #FDE68A;
}
nav {
    padding: 13px;
    background-color: #FED7AA;
}
nav > a{
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    color: #78350F;
    transition: all 0.3s ease;
}
nav > a:hover {
    background-color: #C2410C;
    padding: 7px;
    border-radius: 10px;
    color: white;
}
img{
    display: block;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 428px;
}
.tag{
    background-color: rgba(255, 254, 254 , 0.7);
    position: absolute;
    bottom: 30px;
    text-align: left;
    left: 40px;
    padding: 30px 20px;
    border-radius: 20px;
    width: 450px;
    line-height: 1.5;
    
}
.anh{
    position: relative;
}
.content{
    color: #92400E;
    padding: 30px;
    font-size: 17px;
    line-height: 2;
}
.den{
    color: #453031;
    padding-top: 25px;
}

li{
    list-style: none;
}
footer{
    background-color: #78350F;
    color: white;
    padding: 30px;
    line-height: 1.5;
}