*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lexend', sans-serif;
    background-color: #FFF7ED;
}
header{
    text-align: center;
}
.header{
    background-color: rgb(238, 238, 157);
    padding: 50px;
    line-height: 1.5;
}
.header > h1 {
    color: rgb(124, 26, 26);
}
.header > p {
    color: rgb(85, 53, 53);
}
nav{
    background-color: rgb(226, 189, 189);
    padding: 10px;
}
nav > a {
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(124, 26, 26);
    transition: 0.3s ease;
}
nav > a:hover {
    background-color: rgb(124, 26, 26);
    padding: 5px;
    color: white;
    border-radius: 10px;
}
img{
    display: block;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 500px;
    
}
.noi{
    background-color: rgba(253, 253, 252 , 0.8);
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 400px;
    height: 130px;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    line-height: 1.4;
}
#dam{
    opacity: 0.8;
}
.anh{
    position: relative;
}

.doi{
    text-align: center;   
}
.nen{
    background-color: rgb(245, 241, 236);
    text-align: center;
    color: rgb(124, 26, 26);
}
.nen > h2 {
    padding: 30px 0 30px 0;
    font-size: 30px;
}
.o{
    display: inline-block;
    border-radius: 20px;
    background-color: white;
    line-height: 1.6;
    margin-right:20px ;
    padding: 20px;
    width: 300px;
    height: 100px;
    box-shadow: 0 10px 10px rgba(39, 39, 41, 0.1);
    transition:all 0.3s ease;
}
.o:hover {
    transform: translateY(-8px);
    box-shadow:0 30px 30px rgba(39, 39, 41, 0.1);
    background-color: rgb(238, 235, 231);
}

.uy{
    padding: 50px;
    line-height: 2;
    font-size: 20px;
}

.a{
    color: rgb(71, 69, 69);
}


.footer {
    background-color: brown;
    height: 80px;
    text-align: center;
    padding: 20px;
    color: rgb(216, 215, 215);
}