*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa;
}
.header {
    display: flex;
    width: 1920px;
    height: 80.39px;
    background-color: white;
}