*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f4f7fc;
}

header {
    background-color: #0c6af3;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
.menu-icon {
    display: none; 
}
.header h2 {
    color: white;
}
.header input {
    background-color: #3d85ef;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 400px;
    padding: 10px;
}
.header nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.section1 {
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    box-shadow: 0px 8px 15px  rgb(232, 230, 230);
    border-radius: 20px;
    margin: 50px auto;
}
.section1_trai {
    margin-left: 20px;
}
.section1_phai {
    margin-right: 20px;
    font-size: 17px;
    width: 20%;
}
.section1_phai p {
    width: 100%;
}
.tien_do {
    background-color: #eef1f6;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    margin: 8px;
}
.thanh {
    background-color: #0d6efd; 
    height: 100%;
    width: 68%; 
    border-radius: 10px;
}
.section2 {
    width: 80%;
    margin: 50px auto;
}
.section2 h2 {
    color: #0c6af3;
    margin-bottom: 30px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box11 {
    width: 30%;
    background-color: white;
    box-shadow: 0 5px 10px rgb(213, 209, 209);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.box11 img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.box11:hover{
    transform: translateY(-5px);
    box-shadow: 0 7px 15px rgb(200, 200, 194);
}
.section2_content {
    padding: 10px;
}
.section2_content a {
    text-decoration: none;
    color: white;
    background-color: #0c6af3;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 10px;
}



.section3 {
    width: 80%;
    margin: 50px auto;
}
.section3 h2 {
    color: #0c6af3;
    margin-bottom: 30px;
}
.box_section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box2 {
    width:calc(50% - 20px);
    background-color: white;
    box-shadow: 0 5px 10px rgb(213, 209, 209);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}
.box2 img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.box2:hover{
    transform: translateY(-5px);
    box-shadow: 0 7px 15px rgb(200, 200, 194);
}
.section3_content {
    padding: 10px;
}
.section3_content a {
    text-decoration: none;
    color: white;
    background-color: #0c6af3;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px;
    margin-top: 10px;
}

@media screen  and (max-width:768px){
    main {
        width: 100%;
    }
    .header input , nav {
        display: none;
    }
    .menu-icon {
        display: block;
        color: white;
        font-size: 30px;
    }
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .section1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .section1_phai p {
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }
    .class_tien_do {
        margin: 10px auto;    
        width: 100%; 
    }
    .section2 {
        width: 90%;
    }
    .box {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .box11 {
        width: 100%;
    }

    .section3 {
        width: 90%;
    }
    .box_section3 {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .box2 {
        width: 100%;
    }

}