*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

.banner{
    margin-top: 50px;
    width: 100%;
    height: 150px;
    text-align: center;
    border:2px solid black;
    justify-content: center;
}

.header {
    font-weight: bold;
    padding: 40px;
    background-color:aqua;
    font-size: 30px;
}
.content{
    padding: 6px;
}
span{
    border-bottom: 1px dotted black;
}