*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
    background-color: rgb(252, 252, 244);
}
.box{
    margin: 100px auto;
    width: 480px;
    height: 430px;
    background-color: white;
    border-radius: 20px;
}
.header {
    position: relative;
    background-color: rgb(0, 255, 166);
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px 20px 0 0 ;
}
.hot-tag{
    padding: 5px;
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 16px;
    font-weight: bold;
    top: 5px;
    right: 5px;
    font-size: 20px;
}
strong{
    color: rgb(62, 212, 162);
}
p{
    padding: 12px 20px ;
    border-bottom: 1px solid #eee; /* Đường gạch ngang giữa các dòng */
    color: #555;
}
footer {
    text-align: center;
    padding: 30px 20px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%; 
    padding: 15px 0;          /* Độ dày của nút */
    background-color: #00d9ff;
    color: black;
    border: none;
    border-radius: 30px; 
    font-size: 20px;  
    font-weight: bold;
    cursor: pointer;
}