*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(252, 242, 242);
    font-family: Arial, Helvetica, sans-serif;
}
.tong{
    margin: 100px auto;
    width: 500px;
    border: 1px solid black;
    border-radius: 20px;
}
#tag{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(252, 225, 178);
    color: rgb(209, 138, 6);
    padding: 4px;
    border-radius: 20px;
}
.tong{
    position: relative;
}
h2{
    padding: 20px;
}
main {
    padding:0  20px 20px 20px; 
}

#doctor{
    padding-bottom: 10px;
}
#chi {
    padding-bottom: 10px;
}
#start {
    opacity: 0.5;
    padding-bottom: 10px;
}
#hoan{
    opacity: 0.5;
}
span{
    opacity: 0.5;
}
main , main > div{
    width: 100%;
}
.bao_thanh{
    width: 100%;
    height: 10px;
    background-color:rgb(230, 222, 222); 
    border-radius: 10px;
    margin: 15px 0;
}
.thanh{
    background-color: aqua;
    height: 10px;
    border-radius: 20px;
}
