#box_model{
    width: 200px;
    height: 200px;
    background-color: pink;
    border: 10px solid red;
    border-radius: 20px;
    padding: auto;
    margin: 20px 50px 0px 80px;
}
#inline{
    width: 100px;
    height: 200px;
    background-color: aqua;
    border: 1px red solid;
    padding: 10px;
    margin: 50px;
    display: inline-block;
}
h1{
    background-color: rgba(57, 234, 234 ,0.5);
    opacity: 0.5;

}
h1:hover {
    cursor: pointer;
}
.sttic div {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    background-color: aqua;
    border: 1px solid black;
}
.sttic .middle {
    background-color: aquamarine;
    position: static;
}

.relative div {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    background-color: aqua;
    border: 1px solid black;
}
.relative .middle {
    background-color: aquamarine;
    position: relative;
    bottom: 100px;
    right: 100px;
    
}

.absolute div {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    background-color: rgb(180, 48, 138);
    border: 1px solid black;
}
.absolute .middle {
    background-color: blue;
    position: absolute;
    top: 100px;
}
.absolute{
    position: relative;
}

.fixed div {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    background-color: aqua;
    border: 1px solid black;
}
.fixed .middle {
    background-color: aquamarine;
    position: fixed; 
}
#inline {
    
    transform: skewY(111deg);
}
.d{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 10px solid red;
    padding: 30px;
    margin: 10px;
    
    transition: transform 0.5s ease , box-shadow 0.5s ease; 
}
.d:hover{
    transform: translateY(5px);
    box-shadow: 50px 50px 50px rgba(118, 26, 26, 0.2) ;
    z-index: ;
/* }
position gá»“m : relative , absolute , fixed ,  */

.demo{
    background-color: aqua;
}

/* 
transition

 */