*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    padding: 60px;
} 
header{
    padding:40px 40px 0 60px;
}
main{
    padding: 0 40px 40px 60px ;
}
.dich_vu {
    padding:20px 20px 20px 60px;
}
.cao_voi{
    padding:20px 20px 20px 60px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.mau{
    background: linear-gradient(to right, #2b6bec, #68abee);
}
.phong {
    border: 1px solid rgb(218, 217, 217);
    width: 200px;
    text-align: center;
    border-radius: 20px;
    color: rgb(218, 216, 216);
    font-size: 13px;
}
h1{
    color: white;
}
.content{
    color: rgb(214, 213, 213);
    width: 70%;
}
.dat {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 80%;
    border-radius: 20px;
    background-color: rgb(66, 66, 243);
    padding: 10px;
    transition: 0.3s ease;
}
.dat:hover {
    transform: translateY(-5px);
}
.xem {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 80%;
    border-radius: 20px;
    background-color: rgb(66, 66, 243);
    padding: 10px;
    transition: all 0.3s ease;
}
.xem:hover {
    background-color: #7b838b;
    transform: translateY(-5px);
}
.box{
    color: white;
    border-radius: 20px;
    background-color: rgba(71, 69, 69, 0.11);
    width: 150px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
}
.box:hover{
    transform: translateY(-5px);
}
.nho{
    font-size: 70%;
    color: #afb7be;
}
.mo{
    font-size: 90%;
    color: #7b838b;
}
ul{
    padding-left: 20px;
}
.cao_voi{
    border: 1px solid rgb(209, 207, 207);
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(39, 39, 41, 0.1);
    transition: 0.3s ease;
    position: relative;
}
#tag{
    font-weight: bold;
    color: #2b6bec;
    border: 1px solid #2b6bec;
    background-color: rgb(190, 250, 250);
    padding: 2px 15px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
}
.cao_voi:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 30px rgba(39, 39, 41, 0.1);
}

#cuoi{
    display: inline-block;
    text-decoration: none;
    color: #2b6bec;
    transition: 0.3s ease;
    
}
#cuoi:hover{
    transform: translateX(5px);
}