*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff8f0 ;
    text-align: center;
}
header{
    background-color: white;
    height: 97px;
    width: 1920px;
}
.chia {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.chia h1 {
    color: #e76f51;
    line-height: 97px;
}
.chia nav a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
    line-height: 97px;
}
button {
    text-decoration: none;
    color:white;
    background-color: #e76f51;
    width: 165px;
    height: 50px;
    text-align: center;
    margin-top:25px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}
.hero {
    background-image: url("Section\ \(1\).png");
    background-position: center;
    background-size: cover;
    height: 960px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tren_anh {
    height: 278px;
    width: 622px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
}
.hero h1 {
    color: rgb(255, 255, 255);
}
.hero p {
    color: rgb(211, 208, 208);
}
.hero a {
    text-decoration: none;
    color: aliceblue;
    background-color: #e76f51;
    padding: 10px;
    border-radius: 20px;
}
.container2 {
    width: 1920px;
    height: 683px;
    
}
.menu-items {
    width: 1200px;
    height: 547px;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 40px;
}
.container2 h2 {
    height: 136px;
    font-size: 40px;
    line-height: 136px;
    color: #e76f51;
}
.menu-item {
    width: 320px;
    height: 447px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 5px 10px bisque;
}
.menu-item img {
    width: 320px;
    height: 220px;
}
.menu-item h3 {
    padding: 25px;
    font-size: 25px;
    text-align: left;
}
.strong {
    display: block;
    text-align: left;
    color: #e76f51;
    font-size: 25px;
    padding: 0 25px;
}
.content {
    padding: 20px;
    text-align: left;
    font-size: 25px;
}
.container3 {
    width: 1920px;
    height: 501px;
}
.menu-grid2{
    width: 1200px;
    height: 501px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 150px 100px 150px;
}
.menu-grid-item {
    width: 280px;
    height: 68px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu-grid-item p {
    color: #e76f51;
}
footer {
    width: 1920px;
    height: 355px;
    background-color: #3C2F2F;
}
.footer1 {
    width: 1200px;
    height: 280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: #fff8f0;
    line-height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.content4 h3 {
    margin-bottom: 30px;
    color: #e76f51;
}
.footer2 {
    color: aliceblue;
    line-height: 75px;
}
