*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
}
header{
  width: 1170px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
section {
  width: 1170px;
  height: 704px;
}
.card-on {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.card-duoi {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  align-items: center;
}
h3 {
  margin-bottom: 8px;
}
p {
  color: red;
  margin-right: 8px;
}
span{
  margin-left: 10px;
}

