body{
    font-family: 'Times New Roman', Times, serif;
}
article :hover{
    background-color: rgb(49, 115, 236);
    color: aliceblue;
}
#trang {
    background-color: aquamarine;
}
h1{
    text-align: center;
    background-color: rgb(199, 253, 235);
    color: rgb(85, 172, 143);
}
article a {
    color: blue;
    text-decoration: none;
    margin-right: 10px;

}
#lien_ket {
    text-align: center;
    background-color: rgb(187, 253, 253);
    color: aqua;
    font-size: 20px;
    font-weight: bold;
}
table{
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
}
th{
    background-color: rgb(168, 233, 253);
    border: 1px solid ;
    padding: 20px;
}
td {
    background-color: rgb(248, 246, 244);
    border: 1px solid ;
    padding: 20px;
}

table tr:hover td {
    background-color: aqua;
}

#cuoi {
    text-align: center;
    background-color: rgb(47, 124, 98);
    color: aliceblue;
}