*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    background-color: rgb(199, 253, 235);
    color: rgb(85, 172, 143);
}
article :hover{
    background-color: rgb(49, 115, 236);
    color: aliceblue;
}
#trang {
    background-color: aquamarine;
}
article a {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
}
#lien_ket {
    text-align: center;
    background-color: rgb(187, 253, 253);
    color: aqua;
    font-size: 20px;
    font-weight: bold;
}
form{
    background-color: rgb(250, 250, 250);
    text-align: center;
}
label{
    font-weight: bold;
}
label , input ,select ,textarea{
    font-size: 15px;
    padding: 0px 0px ;
}
#Gui {
    font-size: 20px;
    background-color: rgb(130, 230, 205);
    color: aliceblue;
    font-weight: bold;
}
#Gui:hover {
    background-color: green;
}
#cuoi {
    text-align: center;
    background-color: rgb(47, 124, 98);
    color: aliceblue;
}