*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F4F4;
}
.anh img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.anh {
    padding: 20px;

}