*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #F4F4F4;
    text-align: center;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.anh {
    width: 250px;
    height: 150px;
    margin: 40px 20px;
}
.anh img {
    border-radius: 20px;
}
