*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F8F8F8;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    padding: 30px 0 20px 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-cardbig{
    width: 40%;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 5px 10px 15px rgb(209, 198, 198);
}
.menu-cardsmall{
    width: 20%;
    border-radius: 20px;
    overflow: auto;
    margin: 10px;
    box-shadow: 5px 10px 15px rgb(209, 198, 198);

}

.menu-cardbig img {
    width:100%;
    height: 300px;
    object-fit: cover;
}
.menu-cardsmall img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.flex p{
    color: #CFA76F;
}

