* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F8F5F0; 
    text-align: center;
}
header {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
}
header h2{
    padding-left: 20px;
}
.header2 a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
h1 {
    margin: 30px;
}
.section1 {
    background-color: white;
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgb(209, 202, 202);
}
.section1 img {
    width: 100%;
    border-radius: 20px;
}
.section1 h2 {
    margin: 20px 0;
}
.section1 p {
    opacity: 0.5;
    padding-bottom: 20px;
}
.section1 a {
    text-decoration: none;
    color: rgb(224, 224, 125);
}
h2 {
    margin-bottom: 20px;
}
.section2 , .section3 , .section4 {
    width: 70%;
    margin: 20px auto;
    text-align: left;
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgb(156, 156, 152);
    border-radius: 20px;
    line-height: 30px;
}
.section2 , .section3 , .section4 p {
    opacity: 0.6;
}
footer {
    background-color: black;
    color: white;
    height: 70px;
    line-height: 70px;
}
