*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}

header{
    width: 1920px;
    height: 105px;
    background-color: #1E1E1E;
}
.header {
    width: 1200px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.header h2 {
    color: #D4AF37;
    line-height: 105px;
}

.header a {
    color: white;
    margin-right: 30px;
    line-height: 105px;
    text-decoration: none;
}

.section1 {
    background-image: url("ss8.png");
    background-position: center;
    background-size: cover;
    width: 1920px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}


.section1 h1 {
    font-size: 48px; 
    color: white;
}
.section1 p {
    color: #a7a5a5;
}
.section1 a {
    color: white;
    text-decoration: none;
    background-color: #D4AF37;
    padding: 20px;
    border-radius: 20px;
}
.section2 {
    width: 1920px;
    height: 552px;
}
.section2 > h2 {
    margin-top: 120px;
    font-size: 50px;
}
.section2 hr {
    color: #D4AF37;
    width: 5%;
    margin: auto;
    margin-bottom: 70px;
}
.picture {
    margin: auto;
    width: 1300px;
    height: 350px;
}
.anh {
    width: 300px;
    height: 350px;
}
.footer1{
    background-color: #1e1e1e;
    height: 454px;
    width: 1920px;
}
.footer1 h2{
    padding-top: 128px;
    color: #D4AF37;
    font-size: 48px;
}
.footer1 p {
    line-height: 40px;
    color: rgb(163, 158, 158);
}
.footer2{
    width: 1920px;
    height: 86px;
    background-color: #111111;
    color: #c4c3c0;
    line-height: 86px;
}