*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 30px;
    margin: 50px auto;
}
.parent{
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    height: 500px;
    align-items: baseline;
    align-content: center;
}
.child {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.child:nth-last-child(1){
    background-color: antiquewhite;
}
.child:nth-last-child(2){
    background-color: rgb(23, 29, 221);
}
.child:nth-last-child(3){
    background-color: rgb(133, 156, 135);
}
.child:nth-lst-child(4){
    background-color: rgb(223, 25, 68);
    align-self: center;

}
.child:nth-last-child(5){
    background-color: rgb(176, 30, 216);
    flex-shrink: 1;
}


