*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    background-color: #f8f4ef;
}
header{
    width: 1920px;
    height: 97px;
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    line-height: 97px;
}
header h2 {
    color: #D4AF37;
    margin-left: 40px;
}
header a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
}
.container {
    padding: 60px 30px;
    width: 1920px;
}
.content {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 auto;
}
.content1  {
    width: 727px;
    height: 580px;
    border-radius: 20px;
    background-color: white;
}
.content1 h2 {
    padding: 40px 40px 30px 40px;
    color: #D4AF37;
}
.content1 p {
    padding: 0 40px 35px 40px;
}
.content1 img {
    padding:0 40px 40px 40px;
}
footer{
    width: 1920px;
    height: 78px;
    background-color: #1E1E1E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer1 {
    margin-left: 40px;
}
.footer2{
    margin-right: 40px;
}
.footer2 a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
}
