*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 237, 241);
}
#header {
    background-color: #0ea5e9 ;
    padding: 50px;
    border-radius: 0px 0  20px 20px;
}
.mau{
    text-align: center;
    color: white;
}
h1{
    margin: 20px;
}
nav{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(195, 250, 250);
    border-radius: 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;
    transition: 0.3s ease;
    font-weight: bold;
}
a:hover {
    background-color: #0284c7 ;
    padding: 5px;
    border-radius: 20px;
    color: white;
}
.gioi{
    margin: 25px 20px 20px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
h2{
    padding: 15px;
}
p{
    padding: 15px;
}

.uy{
    margin: 25px 20px 20px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(217, 231, 248);
    border-radius: 20px;
    padding: 20px;
    border-left: 4px solid rgb(169, 231, 231);
}
ul{
    font-size: 20px;
    margin-left: 40px;
}
li{
    padding: 15px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px 20px 0 0; 
}
.footer {
    font-size: 18px;
    padding-top: 40px;
}
.k{
    font-size: 18px;
    padding-bottom: 40px;
}
